
.all-background {
  /*background-color: #50E4E1;*/
  background-color: rgba(33, 212, 253, .85);
  /*background-color: rgba(33, 212, 253, .95);*/
  /*background-image: linear-gradient(120deg, rgba(132, 250, 176, .95) 0%, rgba(33, 212, 253, .95) 100%);*/
  padding: 30px;
}
.how-title {
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.intro-how{
  margin-left: 70px;
  margin-right: 70px;
}
.how-paragraph {
  /*border: 1.5px solid #646571;*/
  margin: 20px;
  padding-bottom: 20px;
}
/*.two {
  color: #FBB406;
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
}*/
.how-short {
  margin-top: 30px;
  line-height: 1.5;
  padding: 0 60px;
  margin-left: 70px;
  margin-right: 70px;
}
.application {
  color: #646571;
}
.apply-a {
  text-align: center;
}
.apply-b {
  background-color: rgba(33, 212, 253, .85);
  /*background-color: #50E4E1;*/
  border: 2px solid #fff;
}

.title-included {
  font-size: 35px;
  padding: 20px;
  font-weight: bold;
  color: #646571;
  text-align: center;
}
.top-head {
  margin-top: 70px;
  margin-bottom: 20px;
}
.whats-included {
  margin-left: 120px;
  margin-right: 110px;
}
.included-header {
  font-size: 25px;
  font-weight: bold;
  color: #646571;
}
.included-header {
  padding-top: 10px;
  margin: 0 60px;
  display: flex;

}
.included {
  /*margin-top: 10px;*/
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  height: 230px;
  padding: 20px;
  color: #646571;
  display: flex;
}

.included-p {
  width: 100%;
  color: #646571;
  font-family: sans-serif;
  margin: 0 40px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 100;
  line-height: 2;

}
.w-p {
  width: 40%;
  height: 200px;
}
.pic {
  margin-top: 0px;
  width: 50%;
  height: 190px;
  margin-right: 40px;
  /*background-image: url('/public/img/smallworkspace.jpeg');*/
  background-repeat: no-repeat;
  background-position: right;

}
.acc-pic {
  background-image: url('/img/privateroom.jpeg');
}
.work-pic {
  background-image: url('/img/smallworkspace.jpeg');
}
.event-pic {
  background-image: url('/img/eventpic.jpeg');
}
.transport-pic {
  background-image: url('/img/funcab.jpeg');
}
hr {
  width: 90%;
}
.fat {
  color: rgba(33, 212, 253, .85);
}

/*pricing section below*/
.pricing-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pr-title {
  margin-top: 40px;
}
.p-wording {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  /*padding-bottom: 20px;
  margin-bottom: 10px;*/
}
.small-t-wording{
  font-size: 25px;
  color: #646571;
  text-align: center;
}

.pricing-box {
  width: 400px;
  height: 100%;
  /*background-color: #59E8D9;*/
  margin: 20px;
}
.left-pricing {
  background-color: #e5e5e5;
}
.right-pricing {
  background-color: #e5e5e5;
}
.price-title {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #555660;
  line-height: 1.5;
  text-align: center;
}


.pt {
  padding-top: 30px;
  color: #555660;
}
.get-started-container {
  margin-top: 40px;
}
.room-explain {
  padding-top: 20px;
  color: #555660;
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}
.steps-box {
  /*border: 2px solid #646571;*/
  margin: 20px;
  height:inherit;
}
